*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4c6c8a;
}

.container{
    max-width: 650px;
    background: #084c69;
    border-radius: 8px;
    box-shadow: 0px 0px 35px 12px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
}

.title{
    display: flex;
}

.Temperature-icon{
    font-size: 45px;
    color: #fff;
}

.title h1{
    color: #0e0e0e;
    letter-spacing: 1.2px;
    font-size: 2rem;
    font-weight: 800;
    
    font-family: 'Tektur', cursive;
}

#celsius, #fahrenheit, #kelvin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input{
    flex: 5;
    height: 50px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    font-family: 'Vina Sans', cursive;
}



.icon{
    flex: 1;
    height: 60px;
    line-height: 60px;
    padding: 0 5px;
    text-align: center;
    font-size: 30px;
    background: #03457f;
    color: #fff;
    border-radius: 0 8px 8px 0;
}


.btn button{
    margin-top: 25px;
    text-align: center;
    padding:10px 10px;
    align-items: center;
    background-color:#03457f ;
      color:white;
      border: 2px solid black;
      border-radius:5px;
}
.btn button:hover{
    background-color: #073b4d;
    cursor:pointer;
    color:white;
border:2px solid rgb(11, 11, 11);
}